
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Backgrnd_image_sign_in_page.jpg');
    background-size: cover; 
    background-position: center; 
}
.container {
    width: 300px;
    margin: 100px auto;
    background-color:#fff; 
    background-position: center; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}